<head>
    <style type="text/css">
        .quantity::-webkit-inner-spin-button, 
        .quantity::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }
    </style>
</head>
<section class="banner_area">
    <div class="container">
        <div class="banner_text_inner">
            <h4>Careers</h4>
            <!-- <h5>Tell us about your story and your project.</h5> -->
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================Contact Us Area =================-->
<section class="contact_us_area">
    <div class="container">
        <div class="contact_details_inner">
            <div class="row">
                <div class="col-lg-10" style="margin: 0 auto;">
                    <div class="contact_form">
                        <div class="main_title">
                            <h2>Career</h2>
                            <!-- <p>Fill out the form below to recieve a free and confidential.</p> -->
                        </div>
                        <form class="contact_us_form row" action="/create_career" method="post" id="contactForm"  enctype="multipart/form-data" novalidate>
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            
                            <div class="form-group col-lg-6">
                                <input type="text" value="<%=@career.f_name%>" class="form-control" id="name" name="career[f_name]" placeholder="First Name" required="required"
                                data-error="Name is required.">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="text" value="<%=@career.l_name%>" class="form-control" id="name" name="career[l_name]" placeholder="Last Name" required="required"
                                data-error="Name is required.">
                            </div>

                            <div class="form-group col-lg-6">
                                <input type="email" value="<%=@career.email%>" class="form-control" id="email" name="career[email]" placeholder="Email" required="required" data-error="Email is required.">
                            </div>

                            <div class="form-group col-lg-6">
                                <input type="number" value="<%=@career.phn_number%>" class="form-control quantity" id="phone_number" name="career[phn_number]" placeholder="Phone Number" required="required" data-error="Phone number is required." step="1" min="1" maxlength="4"/>
                               
                            </div>

                            <div class="form-group col-lg-6">
                                Please select a job position*
                                <!-- <input type="text" class="form-control" id="subject" name="career[job_position]" placeholder="Job Position" required="required"  > -->
                                <select class="form-control" name="career[job_position]" required="required" data-error="Please select a job position" style="color:darkgrey">

                                  <!-- <option hidden >Job Position</option> -->
                                  <option value="Web Developer">Web Developer</option>
                                  <option value="Web Designer" >Web Designer</option>
                                  <option value="Mobile Developer">Mobile Developer</option>
                                  <option value="Mobile+Web Developer">Mobile+Web Developer</option>
                                  <option value="Internet Marketing Expert">Internet Marketing Expert</option>
                                  <option value="SEO Analyst">SEO Analyst</option>
                                  <option value="Content Writer">Content Writer
                                    </option>
                                  <option value="Multi-Talented">Multi-Talented</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6">
                                Your work experience*
                               <!--  <input type="text" class="form-control" id="subject" name="career[work_experience]" placeholder="Experience" required="required" data-error="Subject is required."> -->
                                <select class="form-control" name="career[work_experience]" required="required" data-error="Please select a job position" style="color:darkgrey">
                                  <!-- <option hidden >Work experience</option> -->
                                  <option value="1 Year">1 year</option>
                                  <option value="2 Year">2 Year</option>
                                  <option value="3 Year">3 Year</option>
                                  <option value="4 Year">4 Year</option>
                                  <option value="5 Year">5 Year</option>
                                  <option value="5+ years" >5+ years</option>
                                </select>

                            </div>

                            <div class="form-group col-lg-6">
                                Technologies*
                               <!--  <input type="text" class="form-control" id="subject" name="career[work_experience]" placeholder="Experience" required="required" data-error="Subject is required."> -->
                                <select class="form-control" name="career[work_experience]" required="required" data-error="Please select a job position" style="color:darkgrey">
                                  <!-- <option hidden >Work experience</option> -->
                                  <option value="Android/Ios">Android/Ios</option>
                                  <option value="React/Redux Native">React/Redux Native</option>
                                  <option value="Ruby On Rails">Ruby On Rails</option>
                                  <option value="Python/Djnago/Flask">Python/Djnago/Flask</option>
                                  <option value="Laravell/Code-Igniter">Laravell/Code-Igniter</option>
                                  <option value="WordPress/PHP">WordPress/PHP</option>
                                  <option value="Angular/React/Backbone/Vue Js frameworks">Angular/React/Backbone/Vue Js frameworks</option>
                                  <option value="Node/Express Js">Node/Express Js</option>
                                  <option value="Multi-Technologies">Multi-Technologies</option>
                                 
                                </select>

                            </div>

                            

                            <!-- <div class="form-group col-lg-12">
                                <textarea class="form-control" name="career[resume]" id="message" rows="3" placeholder="Paste Resume Here(Max  6000 Character)" required="required" data-error="Message is required."></textarea>
                            </div> -->
                            
                            <!-- <div class="form-group col-lg-6"> -->
                                <div class="col-md-12">
                                    <label>Upload resume*(PDF)</label>
                                </div>
                                 <div class="col-md-12">
                                    <input type="file" name="career[resume_file]" required="required" accept="application/pdf">
                                </div>
                                </br>
                                </br>
                            <!-- </div> -->

                            <div class="form-group col-md-6">
                                <button type="submit" value="submit" class="btn submit_btn2 form-control">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>