<style type="text/css">
    .owl-prev {
        color: white;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translate(0,-50%);
        font-size: 30px;
    }

    .owl-next {
        color: white;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(0,-50%);
        font-size: 30px;
    }

    .client_name_div{
        margin-top: 7px;
        /*margin: auto;*/
    }
</style>
<!-- <link href="/assets/style_port.css" rel="stylesheet"> -->

<section class="top_slider_area">
    <div id="" class="rev_slider" style="background: url('/assets/bg2.jpg') no-repeat center center / cover; min-height: 100vh; position: relative; box-shadow: inset 0 0 0 1000px rgba(35, 29, 29, 0.9)" >
            <!-- MAIN IMAGE -->
<!--         <img src="/assets/home-slider/slider-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina> -->
            <!-- LAYER NR. 1 -->
        <div class="top_slider_text_box">
            <div class="top_slider_text_box_inn" style="">
                <span style="color:rgb(1, 123, 251)"><h2 style="font-weight: bold; background: -webkit-linear-gradient(#7652be, #7ab1e0);
                     -webkit-background-clip: text;
                     -webkit-text-fill-color: transparent;">CODE GARAGE TECH</h2></span>
                            
                <h2 style="margin-top:15px">
                    'We Build Valuable Solutions With Code'
                </h2>
            </div>
            </br>
            <div class="top_slider_text_box_inn">
                <a class="bg_btn" href="<%=about_us_path%>">About Us</a>
                <!-- <a class="tp_btn" href="#">Get a quote</a> -->
            </div>
        </div>
    </div>
</section>
<!--================End Slider Area =================-->

<!-- <section class="creative_feature_area">
    <div class="container">
        <div class="c_feature_box">
            <div class="row">
                <div class="col-lg-4">
                    <div class="c_box_item">
                        <a href="#"><h4><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Reliability</h4></a>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="c_box_item">
                        <a href="#"><h4><i class="fa fa-clock-o" aria-hidden="true"></i> Expertise</h4></a>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="c_box_item">
                        <a href="#"><h4><i class="fa fa-diamond" aria-hidden="true"></i> Quality</h4></a>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="digital_feature p_100">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d_feature_text">
                        <div class="main_title">
                           <h2>Ruby on Rails Development Company - Hire ROR experts in Mohali</h2>
                        </div>
                        <p>Best Website Development company in Mohali, india - Web & mobile App development Creative Team.</p>
                        <p>We at Code Garage Tech is a dedicated team of ROR experts in Mohali ( India) that ensure you to offer the most valuable code in form of a software or a website and will turn your ideas into reality.</p>
                        <a class="read_btn" href="#">Read more</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d_feature_img">
                        <img src="/assets/feature-right.jpg" alt="">
                    </div>
                </div>
            </div>
       </div>
    </div>
</section> -->

<!--================Creative Feature Area =================-->
<section class="creative_feature_area">
    <div class="container" style="max-width: 1300px">
        <div class="c_feature_box">
            <div class="row">
                <div class="col-lg-3">
                    <div class="c_box_item">
                        <a href="javascript:;">
                            <h4>
                                <img src="/assets/Two35.png"> Mobile Solutions
                            </h4>
                        </a>
                        <p> Not just mobile apps, we build user-friendly mobile experience on iOS and Android platforms.We have developed Awesome apps for our clients.Apps that resolve real-life problems, that got featured over store, and generate revenue.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="c_box_item">
                        <a href="javascript:;">
                            <h4>
                                <img src="/assets/inter35.png">Web Solutions
                            </h4>
                        </a>
                        <p>We develop web solutions on all scales.Its development of systems that take care of your valuable processes. We develop User friendly and reliable applications that helps to solve the problems in almost every field. </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="c_box_item">
                        <a href="javascript:;">
                            <h4>
                                <img src="/assets/graph35.png"> E- Marketing
                            </h4>
                        </a>
                        <p>Enhance your reach and influence more clients to fall for you with our very much arranged and marketing solutions.As a one-stop office digital marketing agency, you can rely on Top Rank Marketing for specialized marketing consulting services.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="c_box_item">
                        <a href="javascript:;">
                            <h4>
                                <img src="https://png.icons8.com/  ultraviolet/35/2980b9/apple-watch-apps.png">Gadget Solutions
                            </h4>
                        </a>
                        <p>We care and fullfil your application needs for the smart gadgets you use on daily basis. CodeGarage Develop gadget applications that are smart like your smart TV or Smart Watch.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="digital_feature p_100">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d_feature_text">
                        <div class="main_title">
                            <h2>Why CodeGarageTech?</h2>
                        </div>
                        <p>We provide high quality comprehensive services to enterprises across a wide range of platforms and technologies. Our major areas of expertise are in providing quality, cost effective software or web/Mobile app development. At Code Garage, diverse groups have been striving earnestly to understand client necessities all through the globe in different IT sectors, and have been dynamic in their techniques.
                        </p>
                        <p>
                        We’re in business just like you - we understand how stressful it can be to work on projects with outside vendors, especially when large budgets are involved.</p>
                        <a class="read_btn" href="/about-us">Read more</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d_feature_img">
                        <img src="/assets/feature-right.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Creative Feature Area =================-->

<!--================Industries Area =================-->
<!-- <section class="industries_area">
    <div class="left_indus">
        <div class="indus_img">
            <img src="/assets/indus-laptop.png" alt="">
        </div>
    </div>
    <div class="right_indus">
        <div class="indus_text">
            <div class="main_title">
                <h2>We Serve All Industries</h2>
                <p>We stay on top of our industry by being experts in yours. We measure our success by the results we drive for our clients.</p>
            </div>
            <div class="our_skill_inner">
                <div class="single_skill">
                    <h3>Website Design</h3>
                    <div class="progress" data-value="90">
                        <div class="progress-bar">
                            <div class="progress_parcent"><span class="counter">90</span>%</div>
                        </div>
                    </div>
                </div>
                <div class="single_skill">
                    <h3>Brand Strategy</h3>
                    <div class="progress" data-value="95">
                        <div class="progress-bar">
                            <div class="progress_parcent"><span class="counter">95</span>%</div>
                        </div>
                    </div>
                </div>
                <div class="single_skill">
                    <h3>Digital Marketing</h3>
                    <div class="progress" data-value="85">
                        <div class="progress-bar">
                            <div class="progress_parcent"><span class="counter">85</span>%</div>
                        </div>
                    </div>
                </div>
                <div class="single_skill">
                    <h3>Website Development</h3>
                    <div class="progress" data-value="90">
                        <div class="progress-bar">
                            <div class="progress_parcent"><span class="counter">90</span>%</div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="read_btn" href="javascript:;">Work with us</a>
        </div>
    </div>
</section> -->
<!--================End Industries Area =================-->

<!--================Our Service Area =================-->
<section class="service_area">
    <div class="container">
        <div class="center_title">
            <h2>Our Services</h2>
            <!-- <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p> -->
        </div>
        <div class="row service_item_inner">
            <div class="service_item_inner_slider owl-carousel">

                <div class="item">
                    <div class="service_item">
                        <!-- <i class="ti-ruler-pencil"></i> -->
                        <img src="/assets/webD1.png" alt="">
                        <h4>Web App Development</h4>
                        <p>We develop User friendly and reliable applications that helps to solve the problems in almost every field.</p>
                        <p>Related Expertise: 
                            <span style="color: #71caaf">Ruby on Rails,SAAS, Python/Django/Flask, ReactJs/ES6,Web Servers</span> 
                            (Nginx/Apache),
                            <span style="color: #71caaf">Mail Servers</span>
                            <span id="service1Dots">...
                                <a href="javascript:;" onclick="read_more_function('service1')" style="color: #71caaf;"><b>more</b>
                                </a>
                            </span>
                            <span id="service1" style="display: none;">
                                 (Sendgrid/Mandrill/Mailgun), 
                                <span style="color: #71caaf">MySQL/PSQL/sqlite3</span>
                                  (SQL dbs),
                                <span style="color: #71caaf">MongoDB/Redis</span>
                                 (No SQL dbs), API Development,  
                                <span style="color: #71caaf">Heroku/Amazon S3/Digital Ocean</span>
                                 (Hosting),
                                <span style="color: #71caaf">Github/Bitbucket/Gitlab</span>(Git), DevOps

                                <a  href="javascript:;" onclick="read_more_function('service1')" style="color:#71caaf"><b>less</b>
                                </a>
                            </p>
                            </span>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         width="64" height="64"
                         viewBox="0 0 252 252"
                         style="fill:#2980b9;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,252v-252h252v252z" fill="none"></path><g><g id="surface1"><path d="M27.5625,11.8125h86.625c13.04297,0 23.625,10.58203 23.625,23.625v181.125c0,13.04297 -10.58203,23.625 -23.625,23.625h-86.625c-13.04297,0 -23.625,-10.58203 -23.625,-23.625v-181.125c0,-13.04297 10.58203,-23.625 23.625,-23.625z" fill="#acb7d0"></path><path d="M3.9375,200.8125h133.875v15.75c0,13.04297 -10.58203,23.625 -23.625,23.625h-86.625c-13.04297,0 -23.625,-10.58203 -23.625,-23.625z" fill="#acb7d0"></path><path d="M3.9375,43.3125h133.875v157.5h-133.875z" fill="#c5e4fa"></path><path d="M66.9375,200.8125l72.36694,-72.33618l-1.49194,-57.60132l-129.9375,129.9375z" fill="#e3f2ff"></path><path d="M137.8125,43.3125v11.8125l-133.875,133.875v-23.625l122.0625,-122.0625z" fill="#e3f2ff"></path><path d="M110.25,43.3125l-106.3125,106.3125v-19.6875l86.625,-86.625z" fill="#e3f2ff"></path><path d="M125.56934,133.29053l-4.69116,-4.69117c-6.64453,-6.65991 -6.64453,-17.44189 0,-24.1018c5.90625,-5.89087 15.19629,-6.65992 21.97925,-1.81494l7.875,5.52173c-2.9685,-2.95312 -4.62964,-6.96753 -4.62964,-11.15112c0,-4.16821 1.66113,-8.18262 4.62964,-11.13574l-0.7998,0.78442c5.29102,-5.21411 13.48901,-6.0293 19.6875,-1.96875l5.95239,3.9375l1.61499,1.89185c-2.67627,-2.66089 -4.16821,-6.29077 -4.16821,-10.05908c0,-3.76831 1.49195,-7.3982 4.16821,-10.05908c5.35254,-5.36792 13.93506,-5.72168 19.6875,-0.78442l31.85376,27.5625c10.72046,9.30542 17.08814,22.64063 17.5957,36.82178c0.50757,14.18115 -4.89112,27.93164 -14.91944,37.99072l-33.3457,33.3457c-10.64355,10.61279 -25.70141,15.51929 -40.55933,13.22754l-80.87256,-12.75073c-0.83057,-0.13843 -1.58423,-0.52295 -2.1687,-1.10742c-4.27588,-4.27588 -5.86011,-10.55127 -4.15283,-16.34985c1.72266,-5.79858 6.47534,-10.18213 12.38159,-11.44336l34.45313,-7.64429l-69.21387,-69.45996c-6.13696,-6.15234 -6.13696,-16.10376 0,-22.24072c2.95313,-2.96851 6.95215,-4.62964 11.13574,-4.62964c4.18359,0 8.18262,1.66113 11.13574,4.62964l49.14185,49.0957" fill="#dda549"></path><path d="M174.54199,71.15186l-2.63013,13.5813l-12.44311,-2.04565l-8.45947,6.45996l-4.13745,15.07324l-12.32007,-2.55322l-12.48926,0.70752l-10.42822,16.61133l16.73437,16.85742l48.81885,-39.60571c15.65772,-12.84301 38.48291,-11.72021 52.80249,2.59937l-11.15112,-11.15113c-14.08887,-14.28882 -28.62378,-29.37744 -44.29687,-16.53442z" fill="#dda549"></path><path d="M163.09863,204.31934l15.27319,15.27319l-97.45312,-13.9043c-1.73804,-1.73804 -2.21484,-4.38354 -1.19971,-6.62915c1.01513,-2.23023 3.30689,-3.62988 5.76782,-3.47608l67.44507,4.19897c3.82983,0.23071 7.42896,1.8457 10.16675,4.53735z" fill="#dda549"></path><path d="M53.15625,145.6875l4.87573,8.90552l8.90552,4.87573l-8.90552,4.87573l-4.87573,8.90552l-4.87573,-8.90552l-8.90552,-4.87573l8.90552,-4.87573z" fill="#fff8f8"></path><path d="M29.22363,95.13061l3.33765,6.18311l6.18311,3.33765l-6.18311,3.39917l-3.33765,6.13696l-3.39917,-6.13696l-6.13696,-3.39917l6.13696,-3.33765z" fill="#fff8f8"></path><path d="M81.30322,53.94067l2.29175,4.21435l4.21435,2.29175l-4.21435,2.32251l-2.29175,4.16821l-2.27637,-4.16821l-4.21436,-2.32251l4.21436,-2.29175z" fill="#fff8f8"></path><path d="M27.5625,70.875c-2.1687,0 -3.9375,1.7688 -3.9375,3.9375v7.875c0,2.1687 1.7688,3.9375 3.9375,3.9375c2.1687,0 3.9375,-1.7688 3.9375,-3.9375v-7.875c0,-2.1687 -1.7688,-3.9375 -3.9375,-3.9375z" fill="#8d6c9f"></path><path d="M94.5,70.875c-2.1687,0 -3.9375,1.7688 -3.9375,3.9375v7.875c0,2.1687 1.7688,3.9375 3.9375,3.9375c2.1687,0 3.9375,-1.7688 3.9375,-3.9375v-7.875c0,-2.1687 -1.7688,-3.9375 -3.9375,-3.9375z" fill="#8d6c9f"></path><path d="M114.1875,70.875c-2.1687,0 -3.9375,1.7688 -3.9375,3.9375v7.875c0,2.1687 1.7688,3.9375 3.9375,3.9375c2.1687,0 3.9375,-1.7688 3.9375,-3.9375v-7.875c0,-2.1687 -1.7688,-3.9375 -3.9375,-3.9375z" fill="#8d6c9f"></path><path d="M78.75,220.5c0,4.35278 -3.52222,7.875 -7.875,7.875c-4.35278,0 -7.875,-3.52222 -7.875,-7.875c0,-4.35278 3.52222,-7.875 7.875,-7.875c4.35278,0 7.875,3.52222 7.875,7.875z" fill="#8d6c9f"></path><path d="M74.8125,31.5h15.75c2.1687,0 3.9375,-1.7688 3.9375,-3.9375c0,-2.1687 -1.7688,-3.9375 -3.9375,-3.9375h-15.75c-2.1687,0 -3.9375,1.7688 -3.9375,3.9375c0,2.1687 1.7688,3.9375 3.9375,3.9375z" fill="#8d6c9f"></path><path d="M51.1875,31.5h7.875c2.1687,0 3.9375,-1.7688 3.9375,-3.9375c0,-2.1687 -1.7688,-3.9375 -3.9375,-3.9375h-7.875c-2.1687,0 -3.9375,1.7688 -3.9375,3.9375c0,2.1687 1.7688,3.9375 3.9375,3.9375z" fill="#8d6c9f"></path><path d="M231.45117,94.14624l-31.8999,-27.5625c-7.33667,-6.15234 -18.14941,-5.7063 -24.96314,1.03052c-3.29151,3.29151 -5.18335,7.73657 -5.27564,12.39697c-6.84448,-3.18384 -14.90405,-2.1687 -20.74878,2.59936c-0.26147,0.15381 -0.49219,0.33838 -0.70752,0.55371l-0.78442,0.78442c-0.21533,0.21533 -0.3999,0.44604 -0.55371,0.70752c-2.99927,3.67603 -4.55273,8.30566 -4.41431,13.02759h-0.30762v-62.24634c0,-15.22705 -12.35083,-27.5625 -27.5625,-27.5625h-86.67114c-15.22705,0 -27.5625,12.33545 -27.5625,27.5625v181.125c0,15.22705 12.33545,27.5625 27.5625,27.5625h86.625c13.85815,0 25.56299,-10.30517 27.33179,-24.05566l15.2732,2.39941c16.11914,2.50708 32.46899,-2.8147 44.02002,-14.33496l33.3457,-33.3457c10.82813,-10.82812 16.65747,-25.65527 16.11914,-40.94385c-0.53833,-15.30396 -7.42896,-29.66968 -18.99536,-39.698zM118.125,101.62134c-3.30689,3.2915 -5.41406,7.58276 -5.98315,12.2124l-39.14429,-39.02124c-7.69043,-7.70581 -20.16431,-7.72119 -27.87012,-0.04614c-7.70581,7.69043 -7.73657,20.17969 -0.04614,27.8855l60.8313,61.10815l3.27612,3.27612l-27.5625,5.98315c-7.33667,1.52271 -13.22754,6.99829 -15.27319,14.21191c-0.86133,3.1377 -0.969,6.45996 -0.27686,9.6438h-58.20117v-110.25c2.1687,0 3.9375,-1.7688 3.9375,-3.9375v-7.875c0,-2.1687 -1.7688,-3.9375 -3.9375,-3.9375v-23.625h126v23.625c-2.1687,0 -3.9375,1.7688 -3.9375,3.9375v7.875c0,2.1687 1.7688,3.9375 3.9375,3.9375v9.01319c-5.86011,-0.30762 -11.58179,1.87646 -15.75,5.98315zM27.5625,15.75h86.625c10.87427,0 19.6875,8.81323 19.6875,19.6875v3.9375h-126v-3.9375c0,-10.87427 8.81323,-19.6875 19.6875,-19.6875zM114.1875,236.25h-86.625c-10.87427,0 -19.6875,-8.81323 -19.6875,-19.6875v-11.8125h61.50806c0.67676,0.99975 1.4458,1.93799 2.27637,2.79932c1.18433,1.16895 2.69165,1.93799 4.3374,2.19946l57.60132,9.09009c-1.15357,9.87451 -9.47461,17.33423 -19.41065,17.41113zM228.72876,169.3125l-33.3457,33.3457c-9.79761,9.79761 -23.68652,14.31958 -37.37549,12.16626l-80.74951,-12.87378c-3.24536,-3.24536 -4.46045,-8.01343 -3.16846,-12.41235c1.30738,-4.39893 4.9065,-7.75195 9.38233,-8.72095l32.40747,-7.05982l6.85986,6.85987c1.55347,1.33814 3.87598,1.24585 5.33716,-0.21533c1.46118,-1.4458 1.53809,-3.78369 0.19995,-5.33716l-8.49023,-8.50562l-69.1062,-69.5061c-4.61426,-4.61426 -4.59888,-12.10474 0.01538,-16.70362c4.61426,-4.61426 12.10474,-4.59888 16.719,0.01538l48.58814,48.54199c0.64599,0.89209 1.35352,1.72266 2.12256,2.4917l4.64502,4.64502c1.53809,1.52271 4.04516,1.52271 5.56787,-0.01538c1.53809,-1.55347 1.52271,-4.04517 -0.01538,-5.58325l-4.64502,-4.44507l-0.78442,-0.86133c-0.19995,-0.38452 -0.44605,-0.7229 -0.75367,-1.03052c-3.44531,-5.18335 -2.78393,-12.05859 1.58423,-16.50366c4.50659,-4.55273 11.67407,-5.15259 16.88819,-1.41504l7.875,5.52173c1.73804,1.39966 4.27588,1.1228 5.69092,-0.61523c1.39966,-1.73804 1.1228,-4.29126 -0.61523,-5.69092c-4.49121,-3.98364 -5.02954,-10.79736 -1.24585,-15.45776c3.78369,-4.6604 10.55127,-5.52173 15.38086,-1.93799l5.62939,3.9375l1.41504,1.41504c0.969,1.1228 2.47632,1.61499 3.92212,1.26123c1.43042,-0.33838 2.55322,-1.46118 2.90698,-2.90698c0.33838,-1.43042 -0.15381,-2.95312 -1.27661,-3.90674c-4.01441,-4.0144 -4.01441,-10.52051 0,-14.53491c3.87598,-3.8606 10.05908,-4.12207 14.25805,-0.63061l31.85376,27.5625c9.88989,8.61328 15.75,20.94873 16.19604,34.05322c0.44605,13.10449 -4.58349,25.7937 -13.87353,35.05298z" fill="#8d6c9f"></path></g></g></g></svg>
                        <h4>Mobile App Development</h4>
                        <p>Not just mobile apps, we build user-friendly Experiances.Apps that resolve real-life problems, that got featured over store, and generate revenue.</p>
                        <p> Related Expertise: <span style="color: #dda549">Native & Hybrid Apps, iPhone, Swift, Go Lang, React-Native, Ionic, Android, Mobile Games</span></p>
                    </div>
                </div>
                
                <div class="item">
                    <div class="service_item">
                        <!-- <i class="ti-ruler-pencil"></i> -->
                        <img src="/assets/shop1.png" alt="">
                        <h4>E - commerce</h4>
                        <p>Do your business on E-commerce platforms and allow your consumers/connected traders to buy things online. Let us provide you best related solutions that will bost up your business.</p>
                        <p>Related Expertise: 
                           <span style="color: #4dac87">Spree Commerce, Magento, Shopify, Sharetribe, WooCommerce</span>
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="service_item">
                        <img src="/assets/CRP.png" alt="">
                        <h4>BlockChain/Cryptocurrency</h4>
                        <p>A Blockchain is secured by system design and is an example of a distributed computing system.It is suitable for the identity management transaction processing. Yes, We have expertise to develop and take care of secure distributed system.</p>
                        <p>Related Expertise: 
                            <span style="color: #fce9bc">Minning, Block-chain,</span> 

                            <span id="service2Dots">...
                                <a href="javascript:;" onclick="read_more_function('service2')" style="color: #fce9bc;"><b>more</b>
                                </a>
                            </span>
                            <span id="service2" style="display: none;">
                                <span style="color: #fce9bc">Distributed and central ledger, Fork, Halving, Hashrate, Multisig, Mining, P2P</span>
                                (peer to peer), 
                                <span style="color: #fce9bc">POW</span>
                                (proof of work),
                                <span style="color: #fce9bc">POS</span>
                                (proof of stake), 
                                <span style="color: #fce9bc">Public/Private keys, Smart contract,Smrat Signature</span>
                                <a  href="javascript:;" onclick="read_more_function('service2')" style="color:#fce9bc"><b>less</b>
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img src="https://png.icons8.com/dusk/64/2980b9/erp-system.png">
                        <h4>CRM/CMS/ERP Systems</h4>
                        <p> These kind of systems are of same standard and functionalities in almost all the industires. Though we prefer it platform based but also we develop custom systems as per your requirements.
                        </p>
                        <p>Related Expertise: 
                            <span style="color: #ed7899">Radiant CMS,Adva CMS,Casein CMS,Locomotive CMS, django CMS, Spina</span>

                            <span id="service3Dots">...
                                <a href="javascript:;" onclick="read_more_function('service3')" style="color: #ed7899;"><b>more</b>
                                </a>
                            </span>
                            <span id="service3" style="display: none;">
                                <span style="color: #ed7899"> CMS,Fat Free CRM, Wordpress, Redmine, bonsaiERP, Accounting Platform, Payroll Development, Zoho/Salesfore CRM , Point Of Sale Systems, Corporate CRM/ERP Systems</span>
                                <a  href="javascript:;" onclick="read_more_function('service3')" style="color:#ed7899"><b>less</b>
                                </a>
                            </span>
                        </p>

                            
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img src="/assets/DM3.png" alt="">
                        <h4>Digital Marketing</h4>
                        <p>We don't dimension on any quality of value. Our unparalleled <span style="color: #f8e390">Search Engine Optimization</span> administrations will without a doubt get you noticed globally!  </p>
                        <p> Related Expertise: 
                            <span  style="color: #f8e390"> SEO, SMM, ORM, Leads Generation, Ads Reveniew, Facebook Leads</span>
                            <span id="service4Dots">...
                                <a href="javascript:;" onclick="read_more_function('service4')" style="color: #f8e390;"><b>more</b>
                                </a>
                            </span>

                            <span id="service4" style="display: none;">

                                <span style="color: #f8e390"> Generation, Keywords Resaerch, Website Analysis, Link Building, Youtube Video Ranking</span>

                                <a  href="javascript:;" onclick="read_more_function('service4')" style="color:#f8e390"><b>less</b>
                                </a>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="service_item">
                        <img src="https://png.icons8.com/dusk/64/2980b9/apple-watch-apps.png">
                        <h4>Smart Gadget Apps</h4>
                        <p><span style="color: #ed7899"> Smart TV/ apps</span> weather it is for  exercising, location puproses, Tracking the activities & schedule, Medical reasons, Entertainment or others,From personal to industrial use we are here to develop apps on best level.</p>
                        <p> Related Expertise: <span style="color: #ed7899">Tizen, Android, IOS, SMIL, XML</span>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--================End Our Service Area =================-->


<!--================Project Area =================-->
<section class="project_area">
    <div class="container">
        <div class="center_title">
            <h2>Technologies We Use</h2>
            <!-- <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p> -->
        </div>
       <!--  <div class="service_item_inner_slider owl-carousel">

                <div class="item">
                    <div class="service_item">
                         <img src="/assets/ror1.png" alt="Icon"
                        style="width: 50px; height: 50px;">

                        <h4>Ruby on Rails</h4>
                        <p>Code Garage Tech is a leading provider of iPhone applications that takes pride in conveying exceptionally powerful and uncommonly custom fitted to cook the requirements of different industry verticals. We are devoted to giving class app designing services in India.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/andoid1.png" style="width: 50px; height: 50px;">
                        <h4>Android</h4>
                        <p>We are Specialize in speed. Get your Mobile apps ready in minimum time span. We Offer Custom Android App Development Services For Businesses and Startups To Engage Users Effectively. Best Android Application Development Company for Custom Android Mobile Apps.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/pyhton.png" style="width: 50px; height: 50px;" />
                        <h4>Python</h4>
                        <p>In the regularly changing universe of search engine optimization, one goal stays consistent: traffic. The higher a site ranks on a search engine comes about page as observed by a client, the more activity the site will receive.We are specialists in SEO, SMO, ORM, PPC.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/node.png" style="width: 50px; height: 50px;" />
                        <h4>Node JS</h4>
                        <p>We are aware of latest updates of Node JS, an open source JavaScript platform. Hire a dedicated team of NodeJS Developers from Code Garage Tech, for Mobile or web applications as well as module development. Our developers will deliver you outstanding Nodejs development services.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/react.png" style="width: 75px; height: 50px;" />
                        <h4>React</h4>
                        <p>The premier Code carport Tech takes pride in presenting exhaustive training programs for students having a place with different divisions. The six months/Weeks industrial training at our Chandigarh based establishment institute with excellent course works.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/php1.png" style="width: 50px; height: 50px;" />
                        <h4>PHP/Wordpress</h4>
                        <p>We have best developers in our team who are expert in PHP and Wordpress. We Deal With Top-Notch Quality WordPress Web Development At Affordable Rates! Get custom WordPress cms development service for migration, plugin development at a reasonable cost.</p>
                    </div>
                </div> -->
            <!-- </div> -->





               <!--  <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/industry" style="width: 50px; height: 50px;" />
                        <h4>Indisturial Training</h4>
                        <p>The premier Code carport Tech takes pride in presenting exhaustive training programs for students having a place with different divisions. The six months/Weeks industrial training at our Chandigarh based establishment institute with excellent course works.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/php" style="width: 50px; height: 50px;" />
                        <h4>PHP/Wordpress</h4>
                        <p>We have best developers in our team who are expert in PHP and Wordpress. We Deal With Top-Notch Quality WordPress Web Development At Affordable Rates! Get custom WordPress cms development service for migration, plugin development at a reasonable cost.</p>
                    </div>
                </div> -->

            <!-- </div> -->
        <div class="row service_item_inner">
            <div class="col-lg-4">
                <div class="service_item">
                    <img alt="Icon" src="/assets/react.png" style="width: 76px; height: 50px;" />
                    <h4>React/Redux</h4>
                    <p>
                        React (also known as React.js or ReactJS) is a JavaScript library for building user interfaces. It is maintained by Facebook and a community of individual developers and companies. React can be used as a base in the development of single-page or mobile applications.

                        <span id="tech1Dots">...
                            <a href="javascript:;" onclick="read_more_function('tech1')" style="color:#57c7e6"><b>more</b>
                            </a>
                        </span>
                        <span id="tech1" style="display:none">
                            Complex React applications usually require the use of additional libraries for state management, routing, and interaction with an API.
                            ReactNative is being used to develop universal applications. It is used to develop Ios/Android/Web applications from same platform and almost a common code. We are specialized in User Experience based development.
                            <a  href="javascript:;" onclick="read_more_function('tech1')" style="color:#57c7e6"><b>less</b>
                            </a>
                        </span>

                       <!--  <span id="tech1" style="display:none"> Complex React applications usually require the use of additional libraries for state management, routing, and interaction with an API.
                        ReactNative is being used to develop universal applications. It is used to develop Ios/Android/Web applications from same platform and almost a common code. We are specialized in User Experience based development.
                        </span> -->
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service_item">
                    <img alt="Icon" src="/assets/andoid1.png" style="width: 50px; height: 50px;">
                    <h4>Android/Swift</h4>
                    <p>
                        Android is a mobile operating system developed by Google, based on a modified version of the Linux kernel and other open source software and designed primarily for touchscreen mobile devices such as smart phones and tablets. Whereas Swift is a general-purpose, multi-paradigm, 

                        <span id="tech2Dots">...
                            <a href="javascript:;" onclick="read_more_function('tech2')" style="color: #57c4a0;"><b>more</b>
                            </a>
                        </span>
                        <span id="tech2" style="display:none">
                             compiled programming language developed by Apple Inc. for iOS, macOS, watchOS, tvOS, and Linux. Swift is designed to work with Apple's Cocoa and Cocoa Touch frameworks and the large body of existing Objective-C code written for Apple products.
                            Since nowadays the user likes to use Mobiles instead of Laptops or Desktop, So these are the is one of the most technologies used in Code Garage Tech as well.
                            <a  href="javascript:;" style="color: #57c4a0;" onclick="read_more_function('tech2')"><b>less</b>
                            </a>
                        </span>

                        

                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service_item">
                    <img alt="Icon" src="/assets/pyhton.png" style="width: 50px; height: 50px;" />
                    <h4>Python/Flask/Django</h4>
                    <p>
                        Python is an interpreted high-level programming language for general-purpose programming. Python features a dynamic type system and automatic memory management. It supports multiple programming paradigms, including object-oriented, imperative, functional

                        <span id="tech3Dots">...
                            <a href="javascript:;" style="color: #f0b82d;" onclick="read_more_function('tech3')" style=""><b>more</b>
                            </a>
                        </span>
                        <span id="tech3" style="display:none">
                             and procedural, and has a large and comprehensive standard library. We have been using this language for Sell Scripting, Scrapping and Web development. We use Django and Flask both Frameworks for web development.
                            <a  href="javascript:;" style="color: #f0b82d;" onclick="read_more_function('tech3')"><b>less</b>
                            </a>
                        </span>


                         
                    </p>
                </div>
            </div>
        </div>
        </br>
        <div class="row service_item_inner">
            <div class="col-lg-4">
                <div class="service_item">
                    <img alt="Icon" src="/assets/node.png" style="width: 50px; height: 50px;" />
                    <h4>Node JS</h4>
                    <p>
                        Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code outside of a browser. This Language made the JavaScript as server side language. This is one of the best back ends used for Real Time Applications. We use Express.Js,

                        <span id="tech4Dots">...
                            <a href="javascript:;" onclick="read_more_function('tech4')" style="color: #53AE4E;"><b>more</b>
                            </a>
                        </span>
                        <span id="tech4" style="display:none">
                             Sails.Js frameworks for node application development.
                            <a  href="javascript:;" onclick="read_more_function('tech4')" style="color: #53AE4E;"><b>less</b>
                            </a>
                        </span>

                         
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service_item">
                    <img src="/assets/ror1.png" alt="Icon"
                    style="width: 50px; height: 50px;">
                    <h4>Ruby on Rails</h4>
                    <p>Ruby on Rails, or Rails, is a server-side web application framework written in Ruby under the MIT License. This technology is in trend because of it's fast development. Rails is a model–view–controller (MVC) framework, providing default structures for a database, a web service,

                    <span id="tech5Dots">...
                        <a href="javascript:;" onclick="read_more_function('tech5')" style="color: #c73728;"><b>more</b>
                        </a>
                    </span>
                    <span id="tech5" style="display:none">
                         and web pages. It encourages and facilitates the use of web standards such as JSON or XML for data transfer, and HTML, CSS and JavaScript for display and user interfacing.
                        <a  href="javascript:;" onclick="read_more_function('tech5')" style="color: #c73728;"><b>less</b>
                        </a>
                    </span>

                     </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service_item">
                    <img alt="Icon" src="/assets/php1.png" style="width: 50px; height: 50px;" />
                    <h4>PHP/Wordpress</h4>
                    <p>
                        WordPress is a free and open-source content management system (CMS) based on PHP and MySQL. We have been used it to develop small websites and content management systems. WordPress users may install and switch among different themes. Themes allow users to

                        <span id="tech6Dots">...
                            <a href="javascript:;" onclick="read_more_function('tech6')" style="color: #a99bc1;"><b>more</b>
                            </a>
                        </span>
                        <span id="tech6" style="display:none">
                              change the look and functionality of a WordPress website without altering the core code or site content.
                            <a  href="javascript:;" onclick="read_more_function('tech6')" style="color: #a99bc1;"><b>less</b>
                            </a>
                        </span>
                        
                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="project_inner">
            <div class="center_title">
                <h2>Ready To Discuss Your Project? </h2>
                <p>There are many ways to contact us. You may drop us a line, give us a call or send an email, choose what suits you the most.</p>
            </div>
            <a class="tp_btn" href="#">WORK WITH US</a>
        </div> -->
    </div>
    <a class="read_btn2" href="/technologies" style=" margin-bottom: -57px; ">Know more</a>
</section>
<!--================End Project Area =================-->

<!--================Testimonials Area =================-->
<!--================End Testimonials Area =================-->


<!--================Latest News Area =================-->
<section class="latest_news_area p_100" style=" background: #b1b5a52b;">
    <div class="container">
        <div class="b_center_title">
            <h2>Our Portfolio</h2>
            <!-- <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p> -->
        </div>
        <div class="l_news_inner">
            <div class="row">
                <%if @portfolios.present?%>
                    <% @portfolios.each do |portfolio|%>
                        <div class="col-lg-4 col-md-6" style="margin-bottom: 70px">
                            <div class="l_news_item">
                                <div class="l_news_img"><a href="<%= portfolio_show_path(portfolio.id)%>"><img class="img-fluid" src="<%=portfolio.photo.url%>" alt="" style="height: 206.66px; width:385px"></a></div>
                                <div class="l_news_content">
                                    <a href="<%= portfolio_show_path(portfolio.id)%>" target="_blank"><h4><%=portfolio.name%></h4></a>
                                    <p><%=portfolio.area%></p>
                                    <!-- <a class="more_btn" href="<%= portfolio_show_path(portfolio.id)%>">Learn More</a> -->
                                </div>
                            </div>
                        </div>
                    <% end %>
                <%end%>
                
              
            </div>
        </div>
    </div>

</section>




<!-- <section id="portfolio" class="section-padding wow fadeInUp delay-05s animated" style="visibility: visible; animation-name: fadeInUp;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">Our Recent Works</h2>
            <p class="sub-title pad-bt15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
            <hr class="bottom-line">
          </div> -->


          

          <%#if @portfolios.present?%>
            <%# @portfolios.each do |portfolio|%>
                <!-- <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15"> -->
                    <!-- <figure> -->
                        <!-- <img src="<%#=portfolio.photo.url%>" class="img-responsive" style="height: 206.66px; width:385px"> -->
                        <!-- <figcaption> -->
                            <!-- <h2><a href="<%#= root_path%>" style="color: white"><%#= portfolio.name%></a></h2> -->
                            <!-- <p><%#= portfolio.area%></p> -->
                        <!-- </figcaption> -->
                    <!-- </figure> -->
                <!-- </div> -->
            <%# end %>
         <%#end%>
        
          <!--   
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="/assets/ucview.png" class="img-responsive" style="height: 206.66px; width:385px">
              <figcaption>
                <h2>Project For Everyone</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
              </figcaption>
            </figure>
          </div>
          //
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="/assets/ucview.png" class="img-responsive">
              <figcaption>
                <h2>Project For Everyone</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="/assets/ucview.png" class="img-responsive">
              <figcaption>
                <h2>Project For Everyone</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="/assets/ucview.png" class="img-responsive">
              <figcaption>
                <h2>Project For Everyone</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="/assets/ucview.png" class="img-responsive">
              <figcaption>
                <h2>Project For Everyone</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="/assets/ucview.png" class="img-responsive">
              <figcaption>
                <h2>Project For Everyone</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
              </figcaption>
            </figure>
          </div> -->
       
<section class="testimonials_area p_100">
    <div class="container">
        <div class="b_center_title">
            <h2>Our Client's Love</h2>
            <!-- <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p> -->
        </div>
        <div class="testimonials_slider owl-carousel">
            <div class="item" >
                <div class="media">
                    <!-- <img class="d-flex rounded-circle" src="/assets/image.png" style="width: 150px !important" alt=""> -->
                    <div class="media-body" style="text-align: justify">
                        <img src="/assets/dotted-icon.png" alt="">
                       <!--  <p>One of the best developers I have ever worked with.I would highly recommend Paras on any project,he is passionate about his work.</p> -->
                        <p class="more_button" >One of the best developers I have ever worked with.I would highly recommend Paras
                            <span id="review1Dots">...
                                <a href="javascript:;" onclick="read_more_function('review1')" style="">more</a>
                            </span> 
                            <span id="review1" style="display: none">
                                on any project,he is passionate about his work.
                                <a  href="javascript:;" onclick="read_more_function('review1')">less</a>
                            </span> 
                        </p>

                        <!-- <button class="bg_btn" id="review1B" onclick="read_more_function('review1')">More</button> -->

                        <h4 class="client_name_div"><a href="javascript:;"> - JD Leon</a> (CEO WelcomeAi)</h4>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="media">
                    <!-- <img class="d-flex rounded-circle" src="/assets/image.png" style="width: 150px !important" alt=""> -->
                    <div class="media-body" style="text-align: justify">
                        <img src="/assets/dotted-icon.png" alt="">
                        <p >Best rails developer you can find! Reliable and fast, I can only recommend!
                            <span id="review2Dots">...
                                <a href="javascript:;" onclick="read_more_function('review2')" style="">more</a>
                            </span>
                            <span id="review2" style="display: none">Communication is good and with 100% commitment.
                                <a  href="javascript:;" onclick="read_more_function('review2')">less
                                </a>
                            </span>
                        </p>

                        <!-- <button class="bg_btn" id="review2B"onclick="read_more_function('review2')">More</button> -->
                        <h4 class="client_name_div"><a href="javascript:;">- Martin S.</a></h4>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="media">
                    <!-- <img class="d-flex rounded-circle" src="/assets/image.png" style="width: 150px !important" alt=""> -->
                    <div class="media-body" style="text-align: justify">
                        <img src="/assets/dotted-icon.png" alt="">
                        <p >Great developers to work with, very diligent in getting the work right and a very  good
                            <span id="review3Dots">...
                                <a href="javascript:;" onclick="read_more_function('review3')" style="">more
                                </a>
                            </span> 
                            <span id="review3" style="display: none">  communicator. I would highly recommend him.
                                <a  href="javascript:;" onclick="read_more_function('review3')">less
                                </a>
                            </span>
                        </p>
                        <!-- <button class="bg_btn" id="review3B" onclick="read_more_function('review3')">More</button> -->
                        <h4 class="client_name_div"><a href="javascript:;">- Sean Allaband</a></h4>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="media">
                    
                    <div class="media-body" style="text-align: justify">
                        <img src="/assets/dotted-icon.png" alt="">
                        <p >Thank you for helping me get Redmine plugin rolling. I look forward to working with
                            <span id="review4Dots">...
                                <a href="javascript:;" onclick="read_more_function('review4')" style="">more
                                </a>
                            </span>
                            <span id="review4" style="display:none">
                                 you again soon.
                                <a  href="javascript:;" onclick="read_more_function('review4')">less
                                </a>
                            </span>
                        </p>

                        <!-- <button class="bg_btn" id="review4B" onclick="read_more_function('review4')">More</button> -->
                        <h4 class="client_name_div"><a href="javascript:;">- Manuel Palachuk</a></h4>
                    </div>
                </div>
            </div>
            
            <div class="item">
                <div class="media">
                    <!-- <img class="d-flex rounded-circle" src="/assets/image.png" style="width: 150px !important" alt=""> -->
                    <div class="media-body" style="text-align: justify">
                        <img src="/assets/dotted-icon.png" alt="">
                        <p>I have been working with Code Garage for over a year that  was spread out between
                            <span id="review6Dots">...
                                <a href="javascript:;" onclick="read_more_function('review6')" style="">more
                                </a>
                            </span>
                            <span id="review6" style="display:none"> two contracts. I am looking at 3rd contract in the next month or so.Great value!
                                <a  href="javascript:;" onclick="read_more_function('review6')">less
                                </a>
                            </span>
                        </p>

                        <!-- <button class="bg_btn" id="review6B" onclick="read_more_function('review6')">More</button> -->
                        <h4 class="client_name_div"><a  >- Jesse Unick</a></h4>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="media">
                    <!-- <img class="d-flex rounded-circle" src="/assets/image.png" style="width: 150px !important" alt=""> -->
                    <div class="media-body" style="text-align: justify">
                        <img src="/assets/dotted-icon.png" alt="">
                        <p >Paras was very nice and skillfull. You can trust his words. That is important to me.</p>

                        <!-- <button id="review5B" onclick="read_more_function('review5')">More</button> -->
                        <h4 class="client_name_div" ><a href="javascript:;">- Francesco Romeo</a></h4>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</section>
<%= render 'rooms/chat_widget' %>

<!--================End Testimonials Area =================-->
<script>
    function read_more_function(div_name) {
        // $("#"+div_name).css("display","block")
        var content= document.getElementById(div_name);
        // var btn= document.getElementById(div_name+"B");
        if (content.style.display === "none") {
            content.style.display = "inline";
            // $("#"+div_name+"B").text("Less");
            $("#"+div_name+"Dots").css("display","none");
        } else {
            content.style.display = "none";
            // $("#"+div_name+"B").text("More");
            $("#"+div_name+"Dots").css("display","inline");

        }
    }

//     $('.more_button').on('click', function(e) {
//     // $('.owl-carousel').trigger('stop.owl.autoplay');
// })
</script>

