<style type="text/css">
    .owl-prev {
        color: white;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translate(0,-50%);
        font-size: 30px;
    }

    .owl-next {
        color: white;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(0,-50%);
        font-size: 30px;
    }

    .client_name_div{
        margin-top: 7px;
        /*margin: auto;*/
    }
</style>
<section class="top_slider_area">
    <div id="" class="rev_slider" style="background: url('/assets/bg2.jpg') no-repeat center center / cover; min-height: 100vh; position: relative; box-shadow: inset 0 0 0 1000px rgba(35, 29, 29, 0.9)" >
            <!-- MAIN IMAGE -->
<!--         <img src="/assets/home-slider/slider-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina> -->
            <!-- LAYER NR. 1 -->
        <div class="top_slider_text_box">
            <div class="top_slider_text_box_inn" style="">
                <span style="color:rgb(1, 123, 251)"><h2 style="font-weight: bold">CODE GARAGE TECH</h2></span>
                
                <h2 style="margin-top:15px">
                    'We Build Valuable Solutions With Code'
                </h2>
            </div>
            </br>
            <div class="top_slider_text_box_inn">
                <a class="bg_btn" href="<%=about_us_path%>">About Us</a>
                <!-- <a class="tp_btn" href="#">Get a quote</a> -->
            </div>
        </div>
    </div>
</section>
<!--================End Slider Area =================-->

<!--================Creative Feature Area =================-->
<section class="creative_feature_area">
    <div class="container" style="max-width: 1300px">
        <div class="c_feature_box">
            <div class="row">
                <div class="col-lg-3">
                    <div class="c_box_item">
                        <a href="javascript:;"><h4><i class="fa fa-mobile" aria-hidden="true"></i> Mobile Solutions</h4></a>
                        <p> Not just mobile apps, we build user-friendly mobile experience on iOS and Android platforms.We have developed Awesome apps for our clients.Apps that resolve real-life problems, that got featured over store, and generate revenue.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="c_box_item">
                        <a href="javascript:;"><h4><i class="fa fa-laptop" aria-hidden="true"></i> Web Solutions</h4></a>
                        <p>We develop web solutions on all scales.Its development of systems that take care of your valuable processes. We develop User friendly and reliable applications that helps to solve the problems in almost every field. </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="c_box_item">
                        <a href="javascript:;"><h4><i class="fa fa-shopping-cart" aria-hidden="true"></i> E- Marketing</h4></a>
                        <p>Enhance your reach and influence more clients to fall for you with our very much arranged and marketing solutions.As a one-stop office digital marketing agency, you can rely on Top Rank Marketing for specialized marketing consulting services.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="c_box_item">
                        <a href="javascript:;"><h4><i class="fa fa-film" aria-hidden="true"></i>Gadets Solutions</h4></a>
                        <p>We care and fullfil your application needs for the smart gadets you use on daily basis.CodeGarage Develop gadget applications that are smart like your smart TV or Smart Watch.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="digital_feature p_100">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d_feature_text">
                        <div class="main_title">
                            <h2>Why CodeGarageTech?</h2>
                        </div>
                        <p>Best Website Development company in Mohali, india - Web & mobile App development Creative Team.</p>
                        <p>We at Code Garage Tech is a dedicated team of ROR experts in Mohali ( India) that ensure you to offer the most valuable code in form of a software or a website and will turn your ideas into reality.</p>
                        <a class="read_btn" href="javascript:;">Read more</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d_feature_img">
                        <img src="/assets/feature-right.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Creative Feature Area =================-->

<!--================Industries Area =================-->
<!-- <section class="industries_area">
    <div class="left_indus">
        <div class="indus_img">
            <img src="/assets/indus-laptop.png" alt="">
        </div>
    </div>
    <div class="right_indus">
        <div class="indus_text">
            <div class="main_title">
                <h2>We Serve All Industries</h2>
                <p>We stay on top of our industry by being experts in yours. We measure our success by the results we drive for our clients.</p>
            </div>
            <div class="our_skill_inner">
                <div class="single_skill">
                    <h3>Website Design</h3>
                    <div class="progress" data-value="90">
                        <div class="progress-bar">
                            <div class="progress_parcent"><span class="counter">90</span>%</div>
                        </div>
                    </div>
                </div>
                <div class="single_skill">
                    <h3>Brand Strategy</h3>
                    <div class="progress" data-value="95">
                        <div class="progress-bar">
                            <div class="progress_parcent"><span class="counter">95</span>%</div>
                        </div>
                    </div>
                </div>
                <div class="single_skill">
                    <h3>Digital Marketing</h3>
                    <div class="progress" data-value="85">
                        <div class="progress-bar">
                            <div class="progress_parcent"><span class="counter">85</span>%</div>
                        </div>
                    </div>
                </div>
                <div class="single_skill">
                    <h3>Website Development</h3>
                    <div class="progress" data-value="90">
                        <div class="progress-bar">
                            <div class="progress_parcent"><span class="counter">90</span>%</div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="read_btn" href="javascript:;">Work with us</a>
        </div>
    </div>
</section> -->
<!--================End Industries Area =================-->

<!--================Our Service Area =================-->
<section class="service_area">
    <div class="container">
        <div class="center_title">
            <h2>Our Services</h2>
            <!-- <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p> -->
        </div>
        <div class="row service_item_inner">
            <div class="service_item_inner_slider owl-carousel">

                <div class="item">
                    <div class="service_item">
                        <!-- <i class="ti-ruler-pencil"></i> -->
                        <img src="/assets/webD1.png" alt="">
                        <h4>Web Development</h4>
                        <p>Varied web improvement needs? At Code Garage Tech, we have the experience and aptitude to deal with all! From customized application development, offshore web development services to database management solutions using PHP, ROR, WordPress, Node js, we give full scope With us, you'll unquestionably appreciate the business stage you've generally wanted!</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img src="/assets/mob2.png" alt="">
                        <h4>App Development</h4>
                        <p>Code Garage Tech is a leading provider of iPhone applications that takes pride in conveying exceptionally powerful and far-reaching applications, uncommonly custom fitted to cook the requirements of different industry verticals. We are devoted to giving class app designing services in India and are glad to have an immense base of offshore and domestic customers.</p>
                    </div>
                </div>
                
                <div class="item">
                    <div class="service_item">
                        <!-- <i class="ti-ruler-pencil"></i> -->
                        <img src="/assets/shop1.png" alt="">
                        <h4>E-commerce Platform</h4>
                        <p>Varied web improvement needs? At Code Garage Tech, we have the experience and aptitude to deal with all! From customized application development, offshore web development services to database management solutions using PHP, ROR, WordPress, Node js, we give full scope With us, you'll unquestionably appreciate the business stage you've generally wanted!</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img src="/assets/CRP.png" alt="">
                        <h4>Cyptocurrency</h4>
                        <p>Code Garage Tech is a leading provider of iPhone applications that takes pride in conveying exceptionally powerful and far-reaching applications, uncommonly custom fitted to cook the requirements of different industry verticals. We are devoted to giving class app designing services in India and are glad to have an immense base of offshore and domestic customers.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img src="/assets/AI3.png" alt="">
                        <h4>AI & ML</h4>
                        <p>Achieve new heights with our unmatched Search Engine Optimization Services. In two decades, Code Garage Tech has delivered an impeccable record as one of the best Search Engine Optimization organization. We don't dimension on any quality of value. Our unparalleled Search Engine Optimization administrations will without a doubt get you noticed globally!  </p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img src="/assets/DM3.png" alt="">
                        <h4>Digital Marketing</h4>
                        <p>Achieve new heights with our unmatched Search Engine Optimization Services. In two decades, Code Garage Tech has delivered an impeccable record as one of the best Search Engine Optimization organization. We don't dimension on any quality of value. Our unparalleled Search Engine Optimization administrations will without a doubt get you noticed globally!  </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--================End Our Service Area =================-->


<!--================Project Area =================-->
<section class="project_area">
    <div class="container">
        <div class="center_title">
            <h2>Technologies We Use</h2>
            <!-- <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p> -->
        </div>
       <!--  <div class="service_item_inner_slider owl-carousel">

                <div class="item">
                    <div class="service_item">
                         <img src="/assets/ror1.png" alt="Icon"
                        style="width: 50px; height: 50px;">

                        <h4>Ruby on Rails</h4>
                        <p>Code Garage Tech is a leading provider of iPhone applications that takes pride in conveying exceptionally powerful and uncommonly custom fitted to cook the requirements of different industry verticals. We are devoted to giving class app designing services in India.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/andoid1.png" style="width: 50px; height: 50px;">
                        <h4>Android</h4>
                        <p>We are Specialize in speed. Get your Mobile apps ready in minimum time span. We Offer Custom Android App Development Services For Businesses and Startups To Engage Users Effectively. Best Android Application Development Company for Custom Android Mobile Apps.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/pyhton.png" style="width: 50px; height: 50px;" />
                        <h4>Python</h4>
                        <p>In the regularly changing universe of search engine optimization, one goal stays consistent: traffic. The higher a site ranks on a search engine comes about page as observed by a client, the more activity the site will receive.We are specialists in SEO, SMO, ORM, PPC.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/node.png" style="width: 50px; height: 50px;" />
                        <h4>Node JS</h4>
                        <p>We are aware of latest updates of Node JS, an open source JavaScript platform. Hire a dedicated team of NodeJS Developers from Code Garage Tech, for Mobile or web applications as well as module development. Our developers will deliver you outstanding Nodejs development services.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/react.png" style="width: 75px; height: 50px;" />
                        <h4>React</h4>
                        <p>The premier Code carport Tech takes pride in presenting exhaustive training programs for students having a place with different divisions. The six months/Weeks industrial training at our Chandigarh based establishment institute with excellent course works.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/php1.png" style="width: 50px; height: 50px;" />
                        <h4>PHP/Wordpress</h4>
                        <p>We have best developers in our team who are expert in PHP and Wordpress. We Deal With Top-Notch Quality WordPress Web Development At Affordable Rates! Get custom WordPress cms development service for migration, plugin development at a reasonable cost.</p>
                    </div>
                </div> -->
            <!-- </div> -->





               <!--  <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/industry" style="width: 50px; height: 50px;" />
                        <h4>Indisturial Training</h4>
                        <p>The premier Code carport Tech takes pride in presenting exhaustive training programs for students having a place with different divisions. The six months/Weeks industrial training at our Chandigarh based establishment institute with excellent course works.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service_item">
                        <img alt="Icon" src="/assets/php" style="width: 50px; height: 50px;" />
                        <h4>PHP/Wordpress</h4>
                        <p>We have best developers in our team who are expert in PHP and Wordpress. We Deal With Top-Notch Quality WordPress Web Development At Affordable Rates! Get custom WordPress cms development service for migration, plugin development at a reasonable cost.</p>
                    </div>
                </div> -->

            <!-- </div> -->
        <div class="row service_item_inner">
            <div class="col-lg-4">
                <div class="service_item">
                    <img alt="Icon" src="/assets/react.png" style="width: 76px; height: 50px;" />
                    <h4>React/Redux</h4>
                    <p>
                        React (also known as React.js or ReactJS) is a JavaScript library for building user interfaces. It is maintained by Facebook and a community of individual developers and companies. React can be used as a base in the development of single-page or mobile applications. Complex React applications usually require the use of additional libraries for state management, routing, and interaction with an API.
                        ReactNative is being used to develop universal applications. It is used to develop Ios/Android/Web applications from same platform and almost a common code. We are specialized in User Experience based development.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service_item">
                    <img alt="Icon" src="/assets/andoid1.png" style="width: 50px; height: 50px;">
                    <h4>Android/Swift</h4>
                    <p>
                        Android is a mobile operating system developed by Google, based on a modified version of the Linux kernel and other open source software and designed primarily for touchscreen mobile devices such as smart phones and tablets. Whereas Swift is a general-purpose, multi-paradigm, compiled programming language developed by Apple Inc. for iOS, macOS, watchOS, tvOS, and Linux. Swift is designed to work with Apple's Cocoa and Cocoa Touch frameworks and the large body of existing Objective-C code written for Apple products.
                        Since nowadays the user likes to use Mobiles instead of Laptops or Desktop, So these are the is one of the most technologies used in Code Garage Tech as well.

                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service_item">
                    <img alt="Icon" src="/assets/pyhton.png" style="width: 50px; height: 50px;" />
                    <h4>Python/Flask/Django</h4>
                    <p>
                        Python is an interpreted high-level programming language for general-purpose programming. Python features a dynamic type system and automatic memory management. It supports multiple programming paradigms, including object-oriented, imperative, functional and procedural, and has a large and comprehensive standard library. We have been using this language for Sell Scripting, Scrapping and Web development. We use Django and Flask both Frameworks for web development.
                    </p>
                </div>
            </div>
        </div>
        </br>
        <div class="row service_item_inner">
            <div class="col-lg-4">
                <div class="service_item">
                    <img alt="Icon" src="/assets/node.png" style="width: 50px; height: 50px;" />
                    <h4>Node JS</h4>
                    <p>
                        Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code outside of a browser. This Language made the JavaScript as server side language. This is one of the best back ends used for Real Time Applications. We use Express.Js, Sails.Js frameworks for node application development.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service_item">
                    <img src="/assets/ror1.png" alt="Icon"
                    style="width: 50px; height: 50px;">
                    <h4>Ruby on Rails</h4>
                    <p>Ruby on Rails, or Rails, is a server-side web application framework written in Ruby under the MIT License. This technology is in trend because of it's fast development. Rails is a model–view–controller (MVC) framework, providing default structures for a database, a web service, and web pages. It encourages and facilitates the use of web standards such as JSON or XML for data transfer, and HTML, CSS and JavaScript for display and user interfacing.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service_item">
                    <img alt="Icon" src="/assets/php1.png" style="width: 50px; height: 50px;" />
                    <h4>PHP/Wordpress</h4>
                    <p>
                        WordPress is a free and open-source content management system (CMS) based on PHP and MySQL. We have been used it to develop small websites and content management systems. WordPress users may install and switch among different themes. Themes allow users to change the look and functionality of a WordPress website without altering the core code or site content.
                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="project_inner">
            <div class="center_title">
                <h2>Ready To Discuss Your Project? </h2>
                <p>There are many ways to contact us. You may drop us a line, give us a call or send an email, choose what suits you the most.</p>
            </div>
            <a class="tp_btn" href="#">WORK WITH US</a>
        </div> -->
    </div>
</section>
<!--================End Project Area =================-->

<!--================Testimonials Area =================-->
<!--================End Testimonials Area =================-->


<!--================Latest News Area =================-->
<section class="latest_news_area p_100">
    <div class="container">
        <div class="b_center_title">
            <h2>Our Portfolio</h2>
            <!-- <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p> -->
        </div>
        <div class="l_news_inner">
            <div class="row">
                <%if @portfolios.present?%>
                    <% @portfolios.each do |portfolio|%>
                        <div class="col-lg-4 col-md-6" style="margin-bottom: 70px">
                            <div class="l_news_item">
                                <div class="l_news_img"><a href="<%= portfolio_show_path(portfolio.id)%>"><img class="img-fluid" src="<%=portfolio.photo.url%>" alt="" style="height: 206.66px; width:385px"></a></div>
                                <div class="l_news_content">
                                    <a href="javascript:;"><h4><%=portfolio.name%></h4></a>
                                    <p><%=portfolio.area%></p>
                                    <!-- <a class="more_btn" href="<%= portfolio_show_path(portfolio.id)%>">Learn More</a> -->
                                </div>
                            </div>
                        </div>
                    <% end %>
                <%end%>
                
                <!-- <div class="col-lg-4 col-md-6">
                    <div class="l_news_item">
                        <div class="l_news_img"><a href="<%= work_project_detail_welcomeai_path%>"><img class="img-fluid" src="/assets/welcomeai.png" alt=""></a></div>
                        <div class="l_news_content">
                            <a href="javascript:;"><h4>Welcome.ai</h4></a>
                            <p>Artificial Intelligence</p>
                            <a class="more_btn" href="<%= work_project_detail_welcomeai_path%>">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="l_news_item">
                        <div class="l_news_img"><a href="<%= work_project_detail_markets_world_path%>"><img class="img-fluid" src="/assets/maketing.png" alt=""></a></div>
                        <div class="l_news_content">
                            <a href="javascript:;"><h4>MARKETS WORLD</h4></a>
                            <p>Marketing</p>
                            <a class="more_btn" href="<%= work_project_detail_markets_world_path%>">Learn More</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

</section>
<section class="testimonials_area p_100">
    <div class="container">
        <div class="b_center_title">
            <h2>Our Client's Love</h2>
            <!-- <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p> -->
        </div>
        <div class="testimonials_slider owl-carousel">
            <div class="item" >
                <div class="media">
                    <!-- <img class="d-flex rounded-circle" src="/assets/image.png" style="width: 150px !important" alt=""> -->
                    <div class="media-body" style="text-align: justify">
                        <img src="/assets/dotted-icon.png" alt="">
                       <!--  <p>One of the best developers I have ever worked with.I would highly recommend Paras on any project,he is passionate about his work.</p> -->
                        <p >One of the best developers I have ever worked with.I would highly recommend Paras
                            <span id="review1Dots">...
                                <a href="javascript:;" onclick="read_more_function('review1')" style="">more</a>
                            </span> 
                            <span id="review1" style="display: none">
                                on any project,he is passionate about his work.
                                <a  href="javascript:;" onclick="read_more_function('review1')">less</a>
                            </span> 
                        </p>

                        <!-- <button class="bg_btn" id="review1B" onclick="read_more_function('review1')">More</button> -->

                        <h4 class="client_name_div"><a href="javascript:;"> - JD Leon</a> (CEO WelcomeAi)</h4>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="media">
                    <!-- <img class="d-flex rounded-circle" src="/assets/image.png" style="width: 150px !important" alt=""> -->
                    <div class="media-body" style="text-align: justify">
                        <img src="/assets/dotted-icon.png" alt="">
                        <p >Best rails developer you can find! Reliable and fast, I can only recommend!
                            <span id="review2Dots">...
                                <a href="javascript:;" onclick="read_more_function('review2')" style="">more</a>
                            </span>
                            <span id="review2" style="display: none">Communication is good and with 100% commitment.
                                <a  href="javascript:;" onclick="read_more_function('review2')">less
                                </a>
                            </span>
                        </p>

                        <!-- <button class="bg_btn" id="review2B"onclick="read_more_function('review2')">More</button> -->
                        <h4 class="client_name_div"><a href="javascript:;">- Martin S.</a></h4>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="media">
                    <!-- <img class="d-flex rounded-circle" src="/assets/image.png" style="width: 150px !important" alt=""> -->
                    <div class="media-body" style="text-align: justify">
                        <img src="/assets/dotted-icon.png" alt="">
                        <p >Great developers to work with, very diligent in getting the work right and a very  good
                            <span id="review3Dots">...
                                <a href="javascript:;" onclick="read_more_function('review3')" style="">more
                                </a>
                            </span> 
                            <span id="review3" style="display: none">  communicator. I would highly recommend him.
                                <a  href="javascript:;" onclick="read_more_function('review3')">less
                                </a>
                            </span>
                        </p>
                        <!-- <button class="bg_btn" id="review3B" onclick="read_more_function('review3')">More</button> -->
                        <h4 class="client_name_div"><a href="javascript:;">- Sean Allaband</a></h4>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="media">
                    
                    <div class="media-body" style="text-align: justify">
                        <img src="/assets/dotted-icon.png" alt="">
                        <p >Thank you for helping me get Redmine plugin rolling. I look forward to working with
                            <span id="review4Dots">...
                                <a href="javascript:;" onclick="read_more_function('review4')" style="">more
                                </a>
                            </span>
                            <span id="review4" style="display:none">
                                 you again soon.
                                <a  href="javascript:;" onclick="read_more_function('review4')">less
                                </a>
                            </span>
                        </p>

                        <!-- <button class="bg_btn" id="review4B" onclick="read_more_function('review4')">More</button> -->
                        <h4 class="client_name_div"><a href="javascript:;">- Manuel Palachuk</a></h4>
                    </div>
                </div>
            </div>
            
            <div class="item">
                <div class="media">
                    <!-- <img class="d-flex rounded-circle" src="/assets/image.png" style="width: 150px !important" alt=""> -->
                    <div class="media-body" style="text-align: justify">
                        <img src="/assets/dotted-icon.png" alt="">
                        <p>I have been working with Code Garage for over a year that  was spread out between
                            <span id="review6Dots">...
                                <a href="javascript:;" onclick="read_more_function('review6')" style="">more
                                </a>
                            </span>
                            <span id="review6" style="display:none"> two contracts. I am looking at 3rd contract in the next month or so.Great value!
                                <a  href="javascript:;" onclick="read_more_function('review6')">less
                                </a>
                            </span>
                        </p>

                        <!-- <button class="bg_btn" id="review6B" onclick="read_more_function('review6')">More</button> -->
                        <h4 class="client_name_div"><a  >- Jesse Unick</a></h4>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="media">
                    <!-- <img class="d-flex rounded-circle" src="/assets/image.png" style="width: 150px !important" alt=""> -->
                    <div class="media-body" style="text-align: justify">
                        <img src="/assets/dotted-icon.png" alt="">
                        <p >Paras was very nice and skillfull. You can trust his words. That is important to me.</p>

                        <!-- <button id="review5B" onclick="read_more_function('review5')">More</button> -->
                        <h4 class="client_name_div" ><a href="javascript:;">- Francesco Romeo</a></h4>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</section>


<!--================End Testimonials Area =================-->
<script>
    function read_more_function(div_name) {
        // debugger
        // $("#"+div_name).css("display","block")
        var content= document.getElementById(div_name);
        // var btn= document.getElementById(div_name+"B");
        if (content.style.display === "none") {
            content.style.display = "inline";
            $("#"+div_name+"B").text("Less");
            $("#"+div_name+"Dots").css("display","none");
        } else {
            content.style.display = "none";
            $("#"+div_name+"B").text("More");
            $("#"+div_name+"Dots").css("display","inline");

        }
    }
</script>

