<p>
	Hi,<br>
</p>

<p>Candidate shared his Resume.Please find the details below:</p>
<p>
	 Name: <%=@resume_details["f_name"]%> <br>
	 Email: <%=@resume_details["email"]%> <br>
	 Phone Number: <%= @resume_details["phn_number"]%> <br>
	 Job Position: <%= @resume_details["job_position"]%> <br>
	 Work Experience: <%= @resume_details["work_experience"]%> <br>
	 Technology: <%= @resume_details["technologies"]%> <br>
</p>

<p>Regards,<br>
Codegaragetech</p>