<!DOCTYPE html>
<html>
  	<head>
  		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="uynsE7lbe2NpTX5-4p4FPJxxNDbeiG-KwxAtK1o6RTw" />
        <meta name="description" content="Code Garage tech are awarded as the best Ruby On Rails web development Company in India.Hire ROR expert developers Now! We are Top Ruby on Rails Development Companies in India"/>
        <meta name="keywords" content="Ruby On Rails web development" />
        <link rel="alternate" href="http://www.codegaragetech.com/" hreflang="en-gb" />
        <meta name="author" content="Code Garage Tech" />
        <meta name="copyright" content="© 2017 codegaragetech" />
        <meta name="application-name" content="codegaragetech" />
        <meta name="robots" content="index, follow">
        <link rel="canonical" href="index"/


        <!-- for Facebook -->
        <meta property="og:title" content="Hire ROR experts in Mohali - We're Obsessed With Creating‎" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="http://www.codegaragetech.com" />
        <meta property="og:description" content="Get the best #RubyonRails Web & Mobile development Services from us.Your code shines bright like a diamond" />


	    <title>CodeGarageTech</title>
	    <%= csrf_meta_tags %>
	    <link href="/assets/font-awesome.min.css" rel="stylesheet">
        <link href="/assets/leegant_style.css" rel="stylesheet">
        <link href="/assets/themify-icons.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="/assets/bootstrap.min.css" rel="stylesheet">

        <!-- Rev slider css -->
        <link href="/assets/settings.css" rel="stylesheet">
        <link href="/assets/layers.css" rel="stylesheet">
        <link href="/assets/navigation.css" rel="stylesheet">
        <link href="/assets/animate.css" rel="stylesheet">
        <link href="/assets/cog.css" rel="stylesheet">

        <!-- Extra plugin css -->
        <link href="/assets/owl.carousel.min.css" rel="stylesheet">

        <link href="/assets/style.css" rel="stylesheet">
        <link href="/assets/responsive.css" rel="stylesheet">
        <link rel="shortcut icon" href="/assets/fav1.png">
        <script src="/assets/jquery-3.2.1.min.js"></script>

        <script src="/assets/notify.js"></script>

        
	    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <style type="text/css">
           .p_footer{

                font-size: 14px;
                color: #b5aec4;
                font-family: "Poppins", sans-serif;
                -webkit-transition: all 400ms linear 0s;
                -o-transition: all 400ms linear 0s;
                transition: all 400ms linear 0s;
           }

           .li_header{
            /*margin-right: 20px !important;
            display: inline-block !important;*/
           }

           .social_li{
            display:flex;
            align-items: center;
            
           }

           .social_li li{
            margin-right: 20px !important;
           }

           .social_li li:last-child{
            margin-right: -50px !important;
           }

           .social_li li a {
               /*padding-right: 0px !important;*/
            padding: 0px 2px !important;
            /*margin-left: 15px;*/
           }
           @media only screen and (max-width: 600px) {
    
                .social_li li a {
                   /*padding-right: 0px !important;*/
                    /*padding: 0px 2px !important;*/
                margin-left: 15px;
                }
            }
        </style>
  	</head>

  	<body>
       <div class="preloader-wrapper">
            <div id="loader" class="overlay-loader">
             <div class="loader-background color-flip"></div>
              <img class="loader-icon spinning-cog" src="/assets/cog24.svg" data-cog="cog01">
            </div>
        </div>


  	<!--================Search Area =================-->
        <section class="search_area">
            <div class="search_inner">
                <input type="text" placeholder="Enter Your Search...">
                <i class="ti-close"></i>
            </div>
        </section>
        
        <!--================End Search Area =================-->

        <!--================Header Menu Area =================-->
        <header class="main_menu_area ">
            <div class="container header-top">
               <!-- <div class="row">
                 <div class="col-6 top-head-left">
                 </div>
                 <div class="col-6 top-head-right">
                   <ul>
                     <li><a href="https://www.facebook.com/CodeGarageTech/z" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                     <li><a href="https://twitter.com/codegaragetech" target="_blank" ><i class="fa fa-twitter"></i></a></li>
                     <li><a href="https://plus.google.com/u/0/102050942109607469627" target="_blank" ><i class="fa fa-google-plus"></i></a></li>
                     <li><a href="https://www.linkedin.com/in/code-garage-tech-252043119/" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
                   </ul>
                 </div>
               </div> -->
             </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#" style="width: 131px"><img class="img-responsive" src="/assets/Logo2_9.png" style="max-width: 100%;    margin-top: -10px;" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <!-- <ul class="navbar-nav" style="margin-right: -62px"> -->
                        <li class="nav-item <%= request.path == "/" ? "active" : "" %>"><a class="nav-link" href="<%= root_path%>">Home</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#">Services</a> -->
                        <!-- </li> -->
                        <!-- <li class="nav-item"><a  href="static.html">Blog</a></li> -->
                        <li class="nav-item <%= request.path == "/about-us" ? "active" : "" %>" ><a  href="<%= about_us_path%>">About Us</a></li>

                        <li class="nav-item <%= request.path == "/contact" ? "active" : "" %>"><a class="nav-link" href="<%= contact_path%>">Contact</a></li>
                        <li class="nav-item <%= request.path == "/careers" ? "active" : "" %>"><a class="nav-link" href="<%= careers_path%>">Careers</a></li>

                        <% if current_admin.present?%>
                            <li class="nav-item <%= request.path == "/careers" ? "active" : "" %>"><a class="nav-link" href="/portfolios">Portfolios</a></li>
                            <li class="nav-item"><a class="nav-link" data-method="delete" href="<%=destroy_admin_session_path%>">Logout</a></li>
                        <% end %>

                         <li class="nav-item <%= request.path == "/careers" ? "active" : "" %>">
                             <ul class="social_li">
                                 <li class="li_header"><a href="https://www.facebook.com/CodeGarageTech/z" target="_blank" >
                                   <img src="https://png.icons8.com/color/35/2980b9/facebook.png">
                                </a></li>
                                <li class="li_header">
                                    <a href="https://twitter.com/codegaragetech" target="_blank" >
                                        <img src="https://png.icons8.com/color/35/2980b9/twitter-squared.png">
                                    </a>
                                </li>
                              
                                <li class="li_header">
                                    <a href="https://www.linkedin.com/in/code-garage-tech-252043119/" target="_blank" >
                                        <img src="https://png.icons8.com/color/35/2980b9/linkedin.png">
                                    </a>
                                </li>
                                <li class="li_header">
                                    <a href="https://plus.google.com/u/0/102050942109607469627" target="_blank" >
                                        <img src="/assets/g_plus.png" style=" height: 30px; width: 32px">
                                    </a>
                                </li>
                           </ul>
                         </li>
                    </ul>
                    <!-- <ul class="navbar-nav justify-content-end">
                        <li><a href="#"><i class="icon_search"></i></a></li>
                        <li><a href="#"><i class="icon_bag_alt"></i></a></li>
                    </ul> -->
                </div>
            </nav>
        </header>
        <% if flash[:notice] %>
            <script type="text/javascript">
                $.notify("<%=flash[:notice]%>", "success");
            </script>
        <% end %>
        <% if flash[:error] %>
            <script type="text/javascript">
                $.notify("<%=flash[:error]%>", "error");
            </script>
        <% end %>

      
        <!--================End Header Menu Area =================-->
        <%= yield %>
        

    	<!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="footer_widgets_area">
                <div class="container">
                    <div class="f_widgets_inner row">
                        <div class="col-lg-3 col-md-6">
                            <aside class="f_widget subscribe_widget">
                                <div class="f_w_title">
                                    <h3>About Us</h3>
                                </div>

                                <p>We're one of the first class development and consulting organization situated in Mohali India. We’re in business just like you - we understand how stressful it can be to work on projects with outside vendors, especially when large budgets are involved.</p>
                                <!-- <div class="input-group">
                                    <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary submit_btn" type="button">Subscribe</button>
                                    </span>
                                </div> -->
                                <!-- <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul> -->
                            </aside>
                        </div>
                        <!-- <div class="col-lg-3 col-md-6">
                            <aside class="f_widget twitter_widget">
                                <div class="f_w_title">
                                    <h3>Twitter Feed</h3>
                                </div>
                                <div class="tweets_feed"></div>
                            </aside>
                        </div> -->
                        <div class="col-lg-3 col-md-6">
                            <aside class="f_widget categories_widget">
                                <div class="f_w_title">
                                    <h3>What We do</h3>
                                </div>
                                <ul>
                                    
                                    <li>
                                        <p class="p_footer"><img src="/assets/ror3.png" height="20px">
                                        Ruby on Rails</p>
                                    </li>
                                    <li>
                                        <p class="p_footer"><img src="/assets/node.png" height="20px">
                                        Node.js</p>
                                    </li>
                                    <li>
                                        <p class="p_footer"><img src="/assets/and2.png" height="20px">
                                        Android</p>
                                    </li>
                                    <li>
                                        <p class="p_footer"><img src="/assets/js1.png" height="20px">
                                        Javascript</p>
                                    </li>
                                    <li>
                                        <p class="p_footer"><img src="/assets/react2.png" height="20px">
                                        React</p>
                                    </li>
                                    <li>
                                        <p class="p_footer"><img src="/assets/tizen-512.png" height="20px">
                                        Tizen</p>
                                    </li>
                                    <li>
                                        <p class="p_footer"><img src="/assets/php3.png" height="20px">
                                        PHP</p>
                                    </li><li>
                                        <p class="p_footer"><img src="https://png.icons8.com/color/20/2980b9/python.png">
                                        Python</p>
                                    </li>
                                    
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <aside class="f_widget " style="line-height: 23px;">
                                <div class="f_w_title">
                                    <h3>Contact Us</h3>
                                </div>
                                <p class="p_footer">
                                    <img src="/assets/tele.png" height="18px"> +0172-5092226
                                </p>
                                <p class="p_footer">
                                    <img src="/assets/mob3.png" height="18px"> +91-7589103409
                                </p>
                                <br>
                                <p class="p_footer">
                                    <img src="/assets/sky.png" height="20px"> codegaragetech@123
                                </p>
                                <p class="p_footer">
                                    <img src="/assets/gmail.png" height="20px"> hr@codegaragetech.com
                                </p>
                                <br>
                                <p class="p_footer">
                                    <img src="/assets/glob.png" height="20px"> Office #2, D-185, Prosperity Square, 
                                Phase: 8-B, Industrial Area Mohali-160055, Punjab</p>
                            </aside>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <aside class="f_widget subscribe_widget">
                                <div class="f_w_title">
                                    <h3>Check Us on Social Network</h3>
                                </div>
                                <ul>

                                    <li><a target="_blank" href="https://www.facebook.com/CodeGarageTech/">
                                        <img src="https://png.icons8.com/color/48/2980b9/facebook.png">
                                    </a></li>
                                    <li><a target="_blank" href="https://twitter.com/codegaragetech">
                                        <img src="https://png.icons8.com/color/48/2980b9/twitter-squared.png">
                                    </a></li>
                                     <li><a target="_blank" href="https://www.linkedin.com/in/code-garage-tech-252043119/">
                                        <img src="https://png.icons8.com/color/48/2980b9/linkedin.png">
                                    </a></li>
                                    <li><a target="_blank" href="https://plus.google.com/u/0/102050942109607469627">
                                        <img src="/assets/g_plus.png" style=" height: 40px; width: 44px">
                                    </a></li>
                                   
                                    <!-- <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
                                    <!-- <li><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="copy_right_area">
                <div class="container">
                    <div class="float-md-left">
                        <h5>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></h5>
                    </div>
                    <div class="float-md-right">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Disclaimer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Advertisement</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </footer>
        <!--================End Footer Area =================-->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- <script src="/assets/application.js"></script> -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/assets/cog-example.js"></script>
        <script src="/assets/active.js"></script>

        <script src="/assets/popper.min.js"></script>
        <script src="/assets/bootstrap.min.js"></script>
        <!-- Rev slider js -->
        <script src="/assets/jquery.themepunch.tools.min.js"></script>
        <script src="/assets/jquery.themepunch.revolution.min.js"></script>
        <script src="/assets/revolution.extension.actions.min.js"></script>
        <script src="/assets/revolution.extension.video.min.js"></script>
        <script src="/assets/revolution.extension.slideanims.min.js"></script>
        <script src="/assets/revolution.extension.layeranimation.min.js"></script>
        <script src="/assets/revolution.extension.navigation.min.js"></script>
        <script src="/assets/revolution.extension.slideanims.min.js"></script>
        <!-- Extra plugin css -->
        <script src="/assets/jquery.waypoints.min.js"></script>
        <script src="/assets/jquery.counterup.min.js"></script>
        <script src="/assets/apear.js"></script>
        <script src="/assets/countto.js"></script>
        <script src="/assets/owl.carousel.min.js"></script>
        <script src="/assets/jquery.parallax-1.1.3.js"></script>
        <!--Tweets-->
        <script src="/assets/tweetie.min.js"></script>
        <script src="/assets/script.js"></script>

        <script src="/assets/theme.js"></script>
        <script type="text/javascript">
            $('.service_item_inner_slider').owlCarousel({
                // loop:true,
                margin:10,

                responsiveClass:true,
                autoplay: true,
                rewind: true,
                touchDrag  : false,
                mouseDrag  : false,
                smartSpeed: 2500,
                navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
                responsive:{
                    0:{
                        items:1,
                        nav:false
                    },
                    600:{
                        items:2,
                        nav:false
                    },
                    1000:{
                        items:3,
                        nav:true,
                        // loop:true
                        
                    }
                }
            })

            $(".alert-success").delay(5000).slideUp(300);
  
        </script>
  	</body>
</html>
